html {
  background-color: #698269;
  background-image: -webkit-linear-gradient(95deg, #fa5d5d 50%, #f1f4eeeb 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}
h1 {
  color: #03c988;
  padding: 10px;
}
.box {
  max-width: 350px;
  margin: 40px auto;
  background: #003865;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
#heading {
  background-color: #13005a;
  text-align: center;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.item:last-child {
  border-bottom: 0;
}
input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}
input[type="checkbox"] {
  margin: 20px;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #03c988;
}
form.item {
  text-align: center;
  margin-left: 20px;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #dd8968;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}
input[type="text"] {
  color: #fff;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}
::placeholder {
  color: grey;
  opacity: 1;
}
footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
